.feesTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 25px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.08);
  background: #fff;
}

.feesTable th, .feesTable td {
  border: 1px solid #ddd;
  padding: 12px 14px;
  text-align: left;
}

.feesTable th {
  background-color: #0d4d8b;
  color: #fff;
  font-weight: 600;
}

.feesTable tr:nth-child(even) {
  background-color: #f8f8f8;
}

.feesTable tr:hover {
  background-color: #eef5ff;
}

.subHeading {
  margin-top: 30px;
  font-size: 1.4rem;
  font-weight: 600;
  color: #0d4d8b;
}
